<% content_for :jumbotron do %>
	<div class="masthead">
		<div class="container">
			<h1>The Annual Tiger Championship</h1>
			<p class="lead">The weekend you want to attend, but aren't invited to</p>
			<a class="btn btn-large btn-success" href="#">Invite me!</a>

			<hr />
		</div>
	</div>
<% end %>

<div class="row">
	<div class="span12">
		<%= render 'layouts/messages' %>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h2><i class="icon-trophy"></i>The Jacket</h2>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
		<p><a class="btn" href="#thejacket">View details</a>
	</div>
	<div class="span4">
		<h2><i class="icon-beer"></i>The Tournament</h2>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
		<p><a class="btn" href="#">View details</a>
	</div>
	<div class="span4">
		<h2><i class="icon-group"></i>The Field</h2>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
		<p><a class="btn" href="#">View details</a>
	</div>
</div>
