<% content_for :jumbotron do %>
	<div class="subhead dimpled-texture">
		<div class="container">
			<h1>The Jacket</h1>
			<p class="lead">A journey through the history</p>
		</div>
	</div>
<% end %>

<div class="row">
	<div class="span12">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel leo odio, a consectetur mauris. Suspendisse urna enim, condimentum at vehicula at, auctor sit amet libero. Donec porttitor diam dapibus massa molestie bibendum. Sed quis purus in lectus fringilla tincidunt ut et dui. Nullam ante ligula, laoreet a tincidunt quis, commodo et eros. Mauris in ipsum erat. Sed et nisi tellus, eu ultricies enim. Nunc arcu ligula, blandit non sollicitudin vel, laoreet at ligula.

Suspendisse potenti. Nunc facilisis, nibh sed viverra accumsan, odio ipsum eleifend ipsum, pretium condimentum augue odio dignissim neque. Nullam vitae leo eros, eget consequat nunc. Duis varius vehicula sodales. In laoreet, odio a tempor volutpat, lacus ligula semper tortor, ac ultricies nibh dolor vitae nisl. Vestibulum ut justo tellus, sed aliquet velit. Proin quis enim eu eros euismod tincidunt sit amet a nisl. Pellentesque faucibus mollis lobortis.

Vivamus eu lorem elementum ipsum gravida rhoncus. Praesent viverra, tellus nec venenatis mollis, nunc felis elementum leo, at suscipit turpis nisi nec eros. Phasellus posuere congue pellentesque. Ut volutpat scelerisque urna, non interdum nibh volutpat vel. Aliquam sem nunc, imperdiet sit amet lacinia quis, accumsan at nibh. Nullam quis nibh nec nunc porta malesuada. In sed nulla odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut nunc felis, aliquet et varius vitae, ultrices vel tellus. Nullam non nunc ut diam aliquet lacinia nec ut dui. Fusce aliquam malesuada dictum. Integer at bibendum tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus venenatis massa eu sem hendrerit id aliquam turpis varius. Sed condimentum lectus et tortor bibendum vel hendrerit est suscipit.

Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris imperdiet, ante adipiscing hendrerit auctor, magna elit sodales tortor, eu hendrerit risus erat ut magna. In fringilla pharetra ipsum a ultricies. Praesent cursus quam at neque cursus a tincidunt libero egestas. Nullam sit amet libero at lectus aliquam rutrum. Pellentesque et lacus magna, sit amet sollicitudin nulla. Duis sed dolor tellus, commodo ultricies tortor. Nam luctus massa et nisl hendrerit sodales. Nulla pharetra porta sem, id consequat lorem placerat sed. Quisque imperdiet, neque eu pharetra mollis, sapien mauris congue est, quis euismod sapien nulla id magna. Nam vitae nibh sed nibh tempus gravida. Aliquam quis sagittis sapien.

Ut erat ligula, fringilla quis aliquam non, venenatis sed nunc. Phasellus quis nisi dolor. Maecenas hendrerit aliquet turpis in pharetra. In vestibulum pulvinar eleifend. Curabitur posuere placerat augue, varius gravida magna gravida eu. Etiam aliquet ligula quis dui vulputate in interdum quam viverra. Sed ut massa eu eros ullamcorper adipiscing.

Ut molestie congue risus, quis venenatis odio cursus at. Curabitur a turpis sit amet turpis fringilla porttitor. Cras et leo at neque auctor ultricies. Nulla facilisi. Nunc imperdiet urna at erat porta sed faucibus ante hendrerit. Nunc placerat, purus quis condimentum vestibulum, urna quam porta mi, id iaculis metus libero in arcu. Vestibulum quam nunc, lacinia in mollis fringilla, feugiat quis mi. Vestibulum fermentum nibh in est posuere ornare. Ut at orci in ante imperdiet venenatis a ac eros. Nulla dapibus egestas tortor, in gravida ipsum varius eu. Donec facilisis elementum ante id pellentesque. Proin mollis faucibus aliquet. Vivamus elit quam, viverra ac pretium ut, dignissim aliquam leo. Etiam feugiat turpis tortor. Pellentesque lacus odio, laoreet eget porta eu, sollicitudin sit amet nisi.

In consequat facilisis tincidunt. Vivamus arcu justo, semper ac fringilla sed, feugiat et ligula. Curabitur at tellus tortor. Quisque et orci urna, non sollicitudin purus. Vestibulum ultricies magna non neque suscipit placerat. Vestibulum vestibulum convallis enim, at mollis nisi ultrices vel. Donec nec urna et lacus hendrerit consequat. Nullam iaculis pretium justo, tempor vulputate leo posuere non. Nullam in velit vel lacus semper fermentum. Aenean laoreet lacus vel dui fermentum et commodo dolor posuere. Cras a justo quam. Nulla augue metus, molestie in viverra at, lobortis nec leo. Vivamus posuere nunc luctus erat tempus at lobortis tortor dapibus. Mauris erat massa, sollicitudin quis auctor sed, accumsan eget est. Nam vehicula arcu vitae elit euismod porta. Etiam ultricies libero eu mi dignissim iaculis.

Duis interdum nunc nec velit volutpat sagittis a mattis metus. Vivamus nec turpis arcu. Donec fringilla, purus ut rutrum auctor, lectus sapien pellentesque massa, et accumsan metus eros sit amet mauris. Praesent quis magna eu dolor euismod facilisis in et risus. Cras odio lectus, consequat id ultrices non, elementum vel ligula. Donec varius diam id ante posuere tincidunt. Morbi rutrum posuere purus, ac convallis nibh vestibulum quis.
		
	</div>
</div>